/* CSS-Styling für die Seite */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url("../icons/background.jpg"); /* Add the background image path */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}


.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #152b55;
    color: #fff;
}

.logo h1 {
    margin: 0;
    color: #fff;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.login-icon,
.cart-icon {
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.loginWhiteBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
    max-width: 900px;
    width: 90%;
    border-radius: 20px;
}

.loginWhiteBox .h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.whiteBox {
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
    max-width: 1000px;
    width: 100%;
    border-radius: 20px;
}

.whiteBox h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.events h3 {
    margin-top: 0;
    margin-bottom: 20px;
}


.genreContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.border-bottom {
    border-bottom: 1px solid #000000;
}


.filter-row {
    display: flex;
    margin-bottom: 10px;
}

.genreContainer label {
    display: inline-block;
    margin-right: 15px;
}


.events {
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#eventData {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


.event {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.event:hover {
    background-color: #e6e6e6;
    transform: scale(1.05);
}

.event h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.event p {
    margin-top: 0;
    font-size: 14px;
}

.openButton {
    display: inline-block;
    width: 100px;
    padding: 1.1em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #2976d6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.openButton:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-3px);
}

.openButton:active {
    transform: translateY(-1px);
}

.deleteButton {
    display: inline-block;
    width: 100px;
    padding: 1.1em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #DC143C;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.deleteButton:hover {
    background-color: #DC143C;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

.filterButton {
    display: block;
    width: 150px;
    padding: 1.0em 1.2em;
    margin-bottom: 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #2976d6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.filterButton:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.filterButton:active {
    transform: translateY(-1px);
}

.addToCart-button {
    display: block;
    width: 150px;
    padding: 1.1em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #2976d6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.addToCart-button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.addToCart-button:active {
    transform: translateY(-1px);
}

.buy-button {
    display: block;
    width: 150px;
    padding: 1.1em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #2976d6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buy-button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.buy-button:active {
    transform: translateY(-1px);
}

/* CSS-Styling für die Login-Seite */

h2 {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    background-color: #fff; /* Hintergrundfarbe anpassen, falls erforderlich */
    z-index: 999; /* Stelle sicher, dass die Überschrift über anderen Inhalten liegt */
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.button-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-label {
    margin-right: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2976d6;
    color: #fff;
    cursor: pointer;
}

.quantity-control i {
    font-size: 12px;
}

.quantity-value {
    margin: 0 10px;
}

.add-to-cart {
    background-color: #2976d6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart:hover {
    background-color: #235da8;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #2976d6;
}

.login-icon {
    margin-left: 10px;
    font-size: 16px; /* Adjust the font size as desired */
    color: #fff;
    cursor: pointer;
}

.login-icon img {
    width: 20px; /* Adjust the width as desired */
    height: 25px; /* Adjust the height as desired */
}

.cart-icon {
    margin-left: 10px;
    font-size: 16px; /* Adjust the font size as desired */
    color: #fff;
    cursor: pointer;
}

.cart-icon img {
    width: 27px; /* Adjust the width as desired */
    height: 25px; /* Adjust the height as desired */
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #333; /* Add a black border */
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #000; /* Change the border color on focus if desired */
}

.logout-icon {
    margin-left: 10px;
    font-size: 16px; /* Adjust the font size as desired */
    color: #fff;
    cursor: pointer;
}

.logout-icon img {
    width: 20px; /* Adjust the width as desired */
    height: 25px; /* Adjust the height as desired */
}

.loader {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}


.pagination {
    display: inline-block;
}

.pagination button {
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.pagination button.active {
    background-color: #235da8;
    color: white;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

footer {
    width: 100%;
    background-color: #1D1B15;
    padding: 40px 0;
    margin-top: 20px;
    clear: both;
}

.filterButton:focus,
.openButton:focus,
.addToCart-button:focus,
.buy-button:focus,
.deleteButton:focus,
.button:focus
{
    outline: none;
}

/* Event Details */

/*.event-details {
    font-family: Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

.event-details h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.event-info {
    margin-bottom: 20px;
}

.event-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.event-info p {
    margin-top: 5px;
}*/

#eventSeats {
    margin-top: 10px;
    text-align: left;
}

.category {
    font-weight: bold;
    margin-bottom: 5px;
}

.seats-heading {
    font-weight: bold;
    margin-bottom: 5px;
}

.details {
    font-weight: bold;
    margin-top: 5px;
}

#selectedSeats {
    margin-top: 10px;
    font-weight: bold;
}

.buchungLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}





.dropdown-button {
    padding: 5px 10px;
    background-color: #e5e5e5;
    color: #333;
    border: none;
    cursor: pointer;
    list-style-type: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.show {
    display: block;
}

.selected-seats {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.selected-seats ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.selected-seats ul li {
    margin-bottom: 5px;
}

.selected-seats-dropdown-list input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

.selected-seats-dropdown-list li {
    list-style-type: none;
}


.event-details {
    margin-bottom: 20px;
}

.event-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
}

.event-info h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.event-info p {
    font-size: 16px;
    margin-bottom: 10px;
}


.addToCart-button {
    display: block;
    width: 150px;
    padding: 1.1em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #2976d6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}
